// @use "sass:math";

@import "bootstrap/scss/bootstrap";
@import "bootstrap-icons/font/bootstrap-icons.css";

@import "fonts.css";

// Add your own style here

body {
	display: flex;
	min-height: 100vh;
	height: 100%;
	flex-direction: column;
	font-family: Raleway, var(--bs-font-sans-serif);

	header,
	footer {
		flex: none;
	}

	header {
		background-color: #3a0000;
		color: white;
	}

	footer {
		border-top: 1px solid #888;
		padding: 0.5em;
		margin-top: 2em;
		font-size: small;
		color: #555;
		white-space: pre;
	}

	& > header ~ div.container {
		flex: 1 0 auto;
		padding: var(--space) var(--space) 0;
		width: 100%;

		&::after {
			content: '\00a0';
			/* &nbsp; */
			display: block;
			margin-top: var(--space);
			height: 0px;
			visibility: hidden;
		}
	}
}

